*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Montserrat', sans-serif;
}
.container{
  height: 300vh;
  background-color: #F0FFFF;
}

header{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

header h1{
  color: #097969;
  font-family: 'Mr Bedfort', cursive;
  font-weight: 700;
  font-size: 48px;
}
nav{
  align-self: center;
}
nav > ul{
  display: flex;
}

nav > ul > li{
  list-style-type: none;
}

nav a{
  text-decoration: none;
  padding: 10px 50px;
  font-size: 1.2em;
  color: #097969;
  font-weight: 600;
}

nav a:hover{
  text-decoration: underline;
}
.main-section{
  background-image: url('images/MCWF-TEEN-YOUNG-ADULTS-THERAPY.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
}

.main-section img{
  height: 450px;
}